.navbar {
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  position: relative;
}

.hamburger {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

.navbar .nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navbar .nav-links li {
  margin: 0 1rem;
  font-size: 20px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
  color: var(--accent1-color);
}

/* SCREEN RESPONSIVENESS*/
@media (max-width: 768px) {
  .hamburger {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0;
    z-index: 1001;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  .navbar .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--accent1-color);
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    padding: 1rem 0;
    border-radius: 0 0 8px 8px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .navbar .nav-links.show {
    display: flex;
  }

  .navbar .nav-links li {
    margin: 0.5rem 1rem;
  }
}
