:root {
  --primary-color: #8e9b8e;
  --secondary-color: #426988;
  --accent1-color: rgb(40, 58, 119);
  --accent2-color: black;

  --heading-font: 'Arial', sans-serif;
  --body-font-size: 16px;
  --border-radius: 8px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* General body and typography */
body {
  font-family: var(--heading-font);
  background-color: #f5f5f5;
  color: var(--accent2-color);
  font-size: var(--body-font-size);
  padding-bottom: 5rem;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
}

main {
  flex: 1;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
}

/* Logo image */
#logo {
  height: 100px;
  width: auto;
  object-fit: contain;
}

/* Intro Section */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro-section {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.2s;
}

.intro-section h1 {
  color: var(--accent1-color);
  margin-bottom: 1rem;
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.4s;
}

.intro-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #2e2e2e;
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.6s;
}

/* Block reveal effect */
.block-effect-small {
  font-size: calc(3px + 2vw); /* smaller */
}

.block-effect-large {
  font-size: calc(6px + 4vw); /* larger */
}

.block-reveal {
  --t: calc(var(--td) + var(--d));
  color: transparent;
  padding: 4px;
  position: relative;
  overflow: hidden;
  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';
  width: 0%;
  height: 100%;
  padding-bottom: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

/* Animations for block reveal */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes revealingOut {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

/* Fixed site link */
.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 0%, 0.6);
  font-size: 16px;
}
